.footer-section {
  background-color: hsl(var(--neutral-DViolet));
}

.footer-section .grid-container {
  display: grid;
  place-items: center;
  text-align: center;
  gap: 2rem;
  padding-block: 4rem;
}

.links-container {
  padding: 1rem;
}

.links-container strong {
  display: block;
  color: white;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.links-container a {
  display: block;
  text-decoration: none;
  color: hsl(var(--neutral-Gray));
}

.social {
  width: 100%;
  max-width: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

@media (min-width: 1050px) {
  .footer-section .grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: left;
    gap: 2rem;
    padding-block: 4rem;
  }

  .footer-section .logo {
    grid-column: span 2;
    align-self: start;
    justify-self: start;
  }

  .links-container:nth-child(2) {
    padding: 0;
    align-self: start;
  }
  .links-container:nth-child(3) {
    padding: 0;
    align-self: start;
  }
  .links-container:nth-child(4) {
    padding: 0;
    align-self: start;
  }
  .links-container:nth-child(5) {
    padding: 0;
    align-self: start;
  }
}
